header{
    border-style: solid;
    background-color: rgb(224, 197, 241);
    border-width: 1px;
    display:grid;
    border-radius: 5px;
    text-align: center;
    border: solid;
}
p{

    vertical-align:top;
}
img{
    display:center;
    border-image: rgb(71, 74, 252);
    border:solid;
    border-width:1px;
    border-radius:5px;
    display:-moz-grid-group;
}
footer{
    border-style: solid;
    background-color: rgb(224, 197, 241);
    border-width: 1px;
    display:grid;
    border-radius: 5px;
    text-align: center;
    border: solid;
}
main{
    background-color: rgb(219, 219, 248);
    margin-auto:2px;
    border-radius:5px;
}

box{
    
    display:inline-block;
    vertical-align:top;

}

